<h1>Welcome to our Blog</h1>
<h2>Self Manager</h2>

<p>This is my first attempt to create SPA application</p>
<p>This App is only for educational purposes</p>
<ul>

  <li>One</li>
  <li>Two</li>
  <li>Third</li>
  <li>Fourth</li>
</ul>
