<div class="formBox">
    <h1>Register</h1>
    <div class="form-group">
        <label for="tb-username">Username: </label>
        <input id="tb-username" class="form-control">
    </div>
    <div class="form-group">
        <label for="tb-password">Password: </label>
        <input type="password" id="tb-password" class="form-control">
    </div>
    <input type="button" id="btn-register" class="btn btn-success" value="Register">
</div>
